<form class="form-horizontal">
  <div class="control-group">

    <label class="control-label">{{ _('InfluxDB URL') }}</label>
    <div class="controls">
      <input type="text" class="input-block-level" data-bind="value: settings.settings.plugins.influxdb2.host">
    </div>
    <label class="control-label">{{ _('Access Token') }}</label>
    <div class="controls">
      <input type="password" class="input-block-level"  data-bind="value: settings.settings.plugins.influxdb2.token, attr: { placeholder: hasTokenPlaceholder }" placeholder="=">
    </div>
    <label class="control-label">{{ _('Organization') }}</label>
    <div class="controls">
      <input type="text" class="input-block-level" data-bind="value: settings.settings.plugins.influxdb2.org">
    </div>
    <label class="control-label">{{ _('Bucket') }}</label>
    <div class="controls">
      <input type="text" class="input-block-level" data-bind="value: settings.settings.plugins.influxdb2.bucket">
    </div>
    <label class="control-label">{{ _('Status Measurement') }}</label>
    <div class="controls">
      <input type="text" class="input-block-level" data-bind="value: settings.settings.plugins.influxdb2.measurement_status">
    </div>
    <label class="control-label">{{ _('Temps Measurement') }}</label>
    <div class="controls">
      <input type="text" class="input-block-level" data-bind="value: settings.settings.plugins.influxdb2.measurement_temps">
    </div>
    <label class="control-label">{{ _('Machine Tag (Optional)') }}</label>
    <div class="controls">
      <input type="text" class="input-block-level" data-bind="value: settings.settings.plugins.influxdb2.opt_machine">
    </div>

    <button data-bind="click: connectionTest" class="btn btn-info" style="margin-top: 1.5em">Test Connection</button>
    <div id="influx-connection-success" class="alert alert-success" style="margin-top: 1.5em" hidden>Successfully Connected to InfluxDB.</div>
    <div id="influx-connection-failure" class="alert alert-danger" style="margin-top: 1.5em" hidden>Could Not Connect to InfluxDB.<br>Check Server Logs for More Info.</div>
  </div>
</form>